/**
 * meidiandian style css pagee
 */
* {
	margin: 0;
	padding: 0;
}
html, body {
	font: 12px/1.125 Microsoft Yahei,Arial,Helvetica,sans-serif;
	height: 100%;
}
div {
	display: block;
}
.navheader {
	height: 68px;
	background-color: #D0CED9;
}
.footer {
	height: 68px;
	width: 80%;
	margin: 0 auto;
	clear: both;
}
.urllink {
	text-align: center;
	font-size:20px;
}
.logo {
	position: absolute;
	left: 144px;
	float: left;
}
.operateLabel {
	position: absolute;
	right: 200px;
	top: 22px;
	float: right;
	font-size: 24px;
}
.operatorNav {
	height: 68px;
	margin-top: 20px;
	margin-left: 400px;
	/*background-color: #D0CED9; */
}
.indexMain {
	height:650px;
}
.loginMain {
	width: 80%;
	margin: 0 auto;
}
.operationImage img{
	width:50%;
	height: 600px;
	float: left;
	margin:0 10px 0 100px;
	padding-top: 50px;
}
.operationInput {
	float: left;
	margin: 68px 0 0 100px;
	font-size:24px;
}
.blur {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
 	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.search {
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
}
.sign {
	height: 200px;
	background-color: gray;
	opacity: 0.8;
	margin-top:50px;
}
/*
	商家界面goods-main-tpl 
*/
.page-wrap {
	background-color: #F5F5F5;
	min-height:500px;
	display: block;
	margin-bottom:30px;
}
.inner-wrap {
	background-color: white;
	width:980px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.rest-banner {
	width: 960px;
	margin: 0 auto;
}
.title-wrap {
    padding: 18px 0 18px 0;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.sort-list {
	position: absolute;
    left: 0;
    top: 26px;
    padding-left: 32px;
    font-size: 16px;
}
.title-content {
	width:822px;
	padding-left: 140px;
	zoom: 1;
}
.fl {
	float: left;
	margin: 8px 20px 8px 0;
	display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
    list-style-type: none;
}
.fl a:link {
	text-decoration: none;
	color: gray;
}
.fl a:hover {
	text-decoration: none;
	color: gold;
}
