/**
 * meidiandian style css pagee
 */
* {
	margin: 0;
	padding: 0;
}
html, body {
	font: 12px/1.125 Microsoft Yahei,Arial,Helvetica,sans-serif;
	height: 100%;
}
/*
	首界面导航菜单
*/
.navheader {
	height: 68px;
	background-color: #D0CED9;
}
.footer {
	height: 60px;
	width: 80%;
	margin: 0 auto;
	clear: both;
}
.urllink {
	text-align: center;
	font-size:16px;
}
.urllink label:hover {
	cursor:pointer;
}
.logo {
	position: absolute;
	left: 144px;
	float: left;
}
.operateLabel {
	position: absolute;
	right: 200px;
	top: 22px;
	float: right;
	font-size: 20px;
}
.operate-link a {
	text-decoration: none;
	color: gray;
}
.operatorNav {
	height: 68px;
	margin-top: 20px;
	margin-left: 400px;
	/*background-color: #D0CED9; */
}

.operate-link .user-menu {
	display: none;
}
.operate-link:hover .user-menu {
	display: block;
	position:absolute;
	width: 80px;
	top: 25px;
	font-size: 14px;
	cursor:pointer;
}
/*
	首界面	
*/
.indexMain {
	height:600px;
}
.loginMain {
	width: 80%;
	margin: 0 auto;
}
.operationImage img{
	width:50%;
	height: 600px;
	float: left;
	margin:0 10px 0 100px;
	padding-top: 50px;
}
.operationInput {
	float: left;
	margin: 68px 0 0 100px;
	font-size:24px;
}
.blur {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
 	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.search {
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
}
.sign {
	height: 200px;
	background-color: gray;
	opacity: 0.8;
	margin-top:50px;
}

/*
	商家导航界面
*/
.goods-wrap {
	height: 68px;
	background-color: white;
	z-index: 999;
}
.search-div {
	width: 500px;
	margin: 0 auto;	
	padding: 10px;
}
/*
	商家界面goods-main-tpl 
*/
.page-wrap {
	background-color: #F5F5F5;
	display: block;
	margin-bottom:30px;
}
.page-top {
	height:15px;
	background-color: #F5F5F5;
}
.inner-wrap {
	background-color: white;
	width:980px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.rest-banner {
	width: 960px;
	margin: 0 auto;
}
.title-wrap {
    padding: 18px 0 18px 0;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.sort-list {
	position: absolute;
    left: 0;
    top: 26px;
    padding-left: 32px;
    font-size: 16px;
}
.title-content {
	width:822px;
	padding-left: 180px;
	zoom: 1;
}
.fl {
	float: left;
	margin: 8px 20px 8px 0;
	display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
    list-style-type: none;
}
.fl a:link {
	text-decoration: none;
	color: gray;
}
.fl a:hover {
	text-decoration: none;
	color: gold;
}

.page-slice {
	height:15px;
	background-color: #F5F5F5;
}

.rest-list {
	overflow: hidden;
}
.list {
	margin: 0 5px;
	padding-top: 10px;
	position: relative;
	min-height: 300px
}
.rest-li {
	width: 242px;
	height: 288px;
	float: left;
	display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    cursor:pointer;
}
.rest-li:hover {
	border: 1px solid gray;
	opacity:0.5;
}
.rest-wrap {
	padding: 20px;
}
.rest-info {
	margin-top: 10px;
}
.rest-image img{
	width: 200px;
	height:160px;
}
.rest-no {
	margin-bottom: 10px;
	width:120px;
	background-color: gray;
}
/*
	用户个人中心
*/

.setting-wrap {
	background-color: #F5F5F5;
	display: block;
	height: 550px;
}
.left-side{
	float: left;
	width: 25%;
	height: 550px;
	background-color: #FAFAFA;
}
.right-side {
	float: left;
	width: 75%;
	height: 550px;
	padding-left: 30px;
}
.right-side p {
	font-size: 16px;
}

.goods-list li {
	list-style-type: none;
	height: 50px;
	margin: 10px 10px 10px 5px;
	background-color: #F5F5F5;
}
.goods-li {
 	border:2px solid #efefef;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.27);
}
.goods-li:hover {
	cursor:pointer;
}
.goods-img img {
	height: 48px;
	width: 48px;
	float: left;
}

/**
	商品详情页
*/
.goods-page {
	min-height: 550px;
	background-color: #F5F5F5;
}
.store-info {
	width: 865px;
	margin: 0 auto;
    height: 121px;
    border: 1px solid #ebebeb;
    border-right: 0 none;
    background-color: #fff;
}
.detail {
	min-width: 330px;
    max-width: 52%;
    top: 0;
    left: 0;
    padding-right: 10px;
    overflow: hidden;
}
.store-info .detail:hover {
	overflow: visible;
}
.store-image img {
	margin-left: 20px;
    margin-top: 15px;
	width: 120px;
	height: 90px;
	border: 1px solid #eee;
    float: left;
}
.store-detail {
	width: 250px;
	height: 121px;
	float: left;
	margin-left: 10px;
}
.right-bar {
	float: right;
}
.post-time, .begin-cost, .post-cost {
	float: left;
	margin: 30px;
}
.post-time:hover, .begin-cost:hover, .post-cost:hover {
	background-color: #fffdf0;
}
.goods-detail {
	width: 865px;
	margin: 0 auto;
	min-height: 400px;
	background-color: #F5F5F5;
	overflow: hidden;
}
.store-notice {
	float: right;
	width: 136px;
	background-color: #fff;
    border: 1px solid #ebebeb;
}
.store-notice:hover {
	box-shadow: 1px 2px 2px #000000;
}
.store-left {
	float: left;
	width: 714px;
	background-color: #fff;
}
.goods-header {
	height: 50px;
    font-size: 16px;
    padding-left: 19px;
    padding-top: 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
 	color: #313131;	
}


.food-ul li {
	list-style-type: none;
}
.foods-li {
	margin: 0 auto;
	float: left;
}
.goods-info {
    width: 238px;
    height: 270px;
    border-right: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
    padding-right: 1px;
}
.goods-inner-wrap {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.food-image img{
	height: 146px;
}
.food-pos {
	margin-top: 20px;
}
.food-add {
	float: right;
}
.food-cost {
    font-size: 14px;
    color: #fe4d3d;
    font-weight: 700;
}
.foods-li:hover {
	background-color: #fffdf0;
}

/**
	购物车样式
*/
.cart {
	background-color: #fff;
	position: fixed;
	right: 200px;
	bottom: 0px;
	float: right;
	width: 240px;
}
.cart-tips {
	height: 30px;
	background-color: #fffdf0;
	padding: 8px 0 0 8px;
}
.cart-detail {
	background-color: #fff;
}
.cart-info {
	margin-top: -20px;
}
.cart-info-inner {
	float: right;
}
.cart-cost {
    background-color: #fafafa;
    cursor: pointer;
	clear: both;
}
.cart-detail ul li {
	list-style-type: none;
}
.u-flyer {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	z-index: 9999;
}