<div class="indexMain" ng-controller="storeController">
	<img alt="cake" src="images/cake.jpg" class="blur">
	<div class="search">
		<div class="input-group">
			<input type="text" ng-model="city" class="form-control input-lg" placeholder="输入城市，即刻美食"/>
			<span class="input-group-addon btn btn-primary" ng-click="searchStore()">搜索</span>
		</div>
		<div class="sign">
			<div style="float:left; width:70%; margin-top: 50px; margin-left:20px">
				<label style="font-size:24px;color:white">商家入驻</label><br/>
				<label style="font-size:20px;color:white">平台优势，特色鲜明，品牌与销量的双重保障</label>
			</div>
			<div style="float:left; margin-top: 50px">
				<h1><label class="label label-success">立即入驻</label></h1>
			</div>
		</div>
	</div>
</div>