<div class="loginMain" ng-controller="loginController">
	<div class="operationImage">
		<img alt="image of cake" src="images/berry.png" />
	</div>
	<div class="operationInput">
		<form>
			<div class="form-group has-feedback">  
                 <span class="glyphicon glyphicon-user"></span>
                 <label for="account" style="color: gray;">账号</label>  
                 <br/>
                 <input ng-model="account" 
                 	type="text" 
                 	class="form-control" 
                 	name="account" 
                 	placeholder="用户名" autofocus>  
          	</div>
          	<br/>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock"></span>
                <label for="password" style="color: gray;">密码</label>  
                <br/>
                <input ng-model="password" 
                	type="password" 
                	class="form-control" 
                	id="password" 
                	name="password" 
                	placeholder="密   码">  
            </div> 
            <br/>
		</form>
		<div>
			<input type="checkbox" value="loginwithoutpassword" ng-model="remMe"/><span style="font-size:15px;color:#999">七天内免登陆</span></div>
		<br/>
		<div>
			<button type="button" class="btn btn-default btn-lg" ng-click="login()">登录</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-default btn-lg" ng-click="jumpToRegister()">注册</button>
		</div>
		<br/>
		<div>
			<p style="font-size:15px;color:#999">提示： 注册登录美点点网站信息请妥善管理</p>
		</div>
		
	</div>
</div>