<div class="page-slice"></div>
<div class="setting-wrap" ng-controller="settingsController">
	<div class="inner-wrap">
		<div class="left-side">
			<ul class="nav nav-pills nav-stacked">
			  <li class="active" ng-click="changeToUserInfo()" id="userInfoID"><a href=""><h4>我的主页</h4></a></li>
			  <li ng-show="type == 0" ng-click="changeToUserOrder()" id="userOrderID"><a href=""><h4>我的订单</h4></a></li>
			  <li ng-show="type == 0" ng-click="changeToUserComment()" id="usercommentID"><a href=""><h4>我的评价</h4></a></li>
			  <li ng-show="type == 1" ng-click="changeToStoreInfo()" id="stroeInfoID"><a href=""><h4>店铺管理</h4></a></li>
			  <li ng-show="type == 1" ng-click="changeToOrderInfo()" id="orderInfoID"><a href=""><h4>订单管理</h4></a></li>
			  <li ng-show="type == 1" ng-click="changeToPreOrderInfo()" id="preOrderInfoID"><a href=""><h4>预订订单</h4></a></li>
			</ul>
		</div>
		<div class="right-side">
		
			<!-- 个人信息详情页 -->
			<div class="userInfoDiv" ng-show="userInfoDiv">
				<div>
					<h3>个人信息</h3>
					<hr/>
				</div>
				<div>
				<table>
					<tr>
						<td><p>账号：</td><td>{{account}}</p></td>
					</tr>
					<tr>
						<td><p>用户名：</td><td>{{username}}</p></td>
						<td><input ng-model="newUsername" type="text" class="form-control" placeholder="输入修改用户名"/></td>
					</tr>
					<tr>
						<td><p>密码：</td><td>{{password}}</p></td>
						<td><input ng-model="newPassword" type="text" class="form-control" placeholder="输入修改密码"/></td>
					</tr>
					<tr>
						<td><p>最近收货地址：</td><td>{{address}}</p></td>
						<td><input ng-model="newAddress" type="text" class="form-control" placeholder="输入修改收货地址"/></td>
					</tr>
					<tr>
						<td><p>创建时间：</td><td>{{createTime}}</p></td>
					</tr>
					
				</table>
				</div>
				<button ng-click="updateUserInfo()" class="btn btn-default">更新信息</button>
			</div>
			
			<!-- 个人订单详情页 -->
			<div class="personalOrderPage" ng-show="personalOrderPageShow">
				<ul class="order-ul">
					<li class="order-li" ng-repeat = "order in items" ng-click = "checkPersonOrderDetail($index, order.orderID)">
						<div class="order-info">
							<div>下单时间:{{order.orderTime}}</div>
							<div>收件人:{{order.username}}</div>
							<div>收件地点:{{order.userAddress}}</div>
						</div>
					</li>
				</ul>
				
				<nav>
					<ul class="pagination">
						<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
						</li>
						<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
							<a ng-click="selectPage(page)" >{{ page }}</a>
						</li>
						<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a>
						</li>
					</ul>
				</nav>
				
				<!-- 点击订单出现详情，然后用户可以评价（星级和文字） -->
				<div class="modal" id="personOrderModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">订单详情</h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>商品名称</th><th>数量</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "goods in orderList">
										<td>{{goods.goodsName}}</td>
										<td>{{goods.goodsNumber}}</td>
									</tr>
								</tbody>
							</table>
							<div>
								<input ng-model="ratingValue" id="rating-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm" >
								<input ng-model="ratingText" type="text" class="form-control" id="ratingText" placeholder="输入您对此订单的评价" maxlength="50">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" ng-click="saveComment()" data-dismiss="modal">发表评价</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
			</div>
			
			<!-- 用户已经评价的订单信息 -->
			<div class="commentOrder" ng-show="commentOrderShow">
				<div>
					<ul class="order-ul">
					<li class="order-li" ng-repeat = "order in items">
						<div class="order-info">
							<div>评价时间:{{order.commentTime}}</div>
							<div>评分:{{order.score}}</div>
							<div>内容:{{order.comment}}</div>
						</div>
					</li>
					</ul>
					
					<nav>
						<ul class="pagination">
							<li>
							<a ng-click="Previous()">
								<span>上一页</span>
							</a>
							</li>
							<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
								<a ng-click="selectPage(page)" >{{ page }}</a>
							</li>
							<li>
							<a ng-click="Next()">
								<span>下一页</span>
							</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			
			<!-- 创建店铺div -->
			<div class="storeInfoDiv" ng-show="storeInfoDiv">
				<div ng-show="createButton" style="margin:20px 0px 0px 10px">
					<p>您还没有店铺，是否新建店铺？</p>
					<button ng-click="createStore()" class="btn btn-success">新建店铺</button>
				</div>
				<div ng-show="newStore" class="new-store">
					<div>
						<h3>创建店铺</h3>
						<hr/>
					</div>
					<div>
					<table>
						<tr>
							<td><p>店铺名称：</td><td><input ng-model="storeName" type="text" class="form-control" placeholder="例如：国记豆腐脑"/></p></td>
						</tr>
						<tr>
							<td><p>店铺地址：</td><td><input ng-model="storeAddress" type="text" class="form-control" placeholder="例如：陕西省西安市长安区西沣路西安电子科技大学"/></p></td>
						</tr>
						<tr>
							<td><p>营业时间：</td><td><input ng-model="storeHours" type="text" class="form-control" placeholder="格式：0-24"/></p></td>
						</tr>
						<tr>
							<td><p>配送费：</td>
							<td>
							<div class="input-group">
								<span class="input-group-addon">￥</span><input ng-model="cost" type="text" class="form-control" placeholder="例如：3"/></p>
							</div>
							</td>
						</tr>
						<tr>
							<td><p>起送金额：</td>
							<td>
							<div class="input-group">
								<span class="input-group-addon">￥</span><input ng-model="beginPost" type="text" class="form-control" placeholder="例如：10"/></p>
							</div>
							</td>
						</tr>
						<tr>
							<td><p>送达时间：</td>
							<td>
							<div class="input-group">
								<input ng-model="postTime" type="text" class="form-control" placeholder="例如：30"/><span class="input-group-addon">min</span></p>
							</div>
							</td>
						</tr>
						<tr>
							<td><button class="btn btn-default" ng-click="saveStore()">创建店铺</button></td>
						</tr>
					</table>
					</div>
				</div>
			</div>
			
			<!-- 店铺信息详情页 -->
			<div class="storeInfo" ng-show="storeInfo">
				<div class="store-info">
					<div>
						<h3>店铺信息</h3>
						<hr/>
					</div>
					<div>
					<table>
						<tr>
							<td><p>店铺名称：</td><td>{{storeName}}</p></td>
							<td><input ng-model="storeName" type="text" class="form-control" placeholder="例如：国记豆腐脑"/></td>
						</tr>
						<tr>
							<td><p>店铺地址：</td><td>{{storeAddress}}</p></td>
							<td><input ng-model="storeAddress" type="text" class="form-control" placeholder="例如：陕西省西安市长安区西沣路西安电子科技大学"/></td>
						</tr>
						<tr>
							<td><p>营业时间：</td><td>{{storeHours}}</p></td>
							<td><input ng-model="storeHours" type="text" class="form-control" placeholder="格式：0-24"/></td>
						</tr>
						<tr>
							<td><p>配送费：</td><td>{{cost}}</p></td>
							<td>
							<div class="input-group">
								<span class="input-group-addon">￥</span><input ng-model="cost" type="text" class="form-control" placeholder="例如：3"/>
							</div>
							</td>
						</tr>
						<tr>
							<td><p>起送金额：</td><td>{{beginPost}}</p></td>
							<td>
							<div class="input-group">
								<span class="input-group-addon">￥</span><input ng-model="beginPost" type="text" class="form-control" placeholder="例如：3"/>
							</div>
							</td>
						</tr>
						<tr>
							<td><p>送达时间：</td><td>{{postTime}}</p></td>
							<td>
							<div class="input-group">
								<input ng-model="postTime" type="text" class="form-control" placeholder="例如：3"/><span class="input-group-addon">min</span>
							</div>
							</td>
						</tr>
						<tr>
							<td><p>注意事项：</td><td>{{storeNotice}}</p></td>
							<td><input ng-model="storeNotice" type="text" class="form-control" /></td>
						</tr>
						<tr>
							<td><p>店铺图片：</p></td>
							<td class="rest-image"><img alt="store image" ng-src="{{storeImg}}"></td>
							<td><input type="file" id="uploadImg" /></td>
						</tr>
						<tr>
							<td><button class="btn btn-default" ng-click="updateStoreInfo()">更新店铺</button></td>
							
							<td><button class="btn btn-success" ng-click="findGoods()">商品管理</button></td>
						</tr>
					</table>
					</div>
				</div>
			</div>
			
			<!-- 店铺内商品信息 -->
			<div class="goods-list" ng-show="goodsPage">
				<div class="goods-head" style="margin:10px 0 5px 10px">
					<span class="glyphicon glyphicon-arrow-left" ng-click="back()" style="cursor:pointer;"></span>
					<button class="btn btn-success" ng-click="addNewGoodsBtn()">添加商品</button>
				</div>
				<ul ng-repeat="goods in goodsList">
					<li class="goods-li" ng-click="checkGoods(goods.goodsID)">
						<div class="goods-img"><img ng-src="{{goods.image}}" /></div>
						<div>
							<p>名称：{{goods.name}}</p>
							<p>价格：￥{{goods.price}}</p>
						</div>
					</li>
				</ul>
			</div>
			
			<!-- 商品详情modal -->
			<div class="modal" id="goodsDetailModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title"><span>{{goodsName}}</span>商品详情</h4>
						</div>
						<div class="modal-body">
							<table>
								<tr>
									<td><p>商品名称：</p></td><td>{{goodsName}}</td>
									<td><input ng-model="goodsName" type="text" class="form-control" placeholder="例如：豆腐脑"/></td>
								</tr>
								<tr>
									<td><p>商品价格：</p></td><td>￥{{goodsPrice}}</td>
									<td>
									<div class="input-group">
										<span class="input-group-addon">￥</span><input ng-model="goodsPrice" type="text" class="form-control" placeholder="例如：3"/>
									</div>
									</td>
								</tr>
								<tr>
									<td><p>商品图片：</p></td>
									<td><div class="goods-img"><img ng-src="{{goodsImage}}" /></div></td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-error" ng-click="deleteGoods()" data-dismiss="modal">删除</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" ng-click="updateGoodsInfo()" data-dismiss="modal">更新</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 添加商品的modal -->
			<div class="modal" id="newGoodsModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">添加商品</h4>
						</div>
						<div class="modal-body">
							<table>
								<tr>
									<td><p>商品名称：</p>
									<td><input ng-model="newGoodsName" type="text" class="form-control" placeholder="例如：豆腐脑"/></td>
								</tr>
								<tr>
									<td><p>商品价格：</p></td>
									<td>
									<div class="input-group">
										<span class="input-group-addon">￥</span><input ng-model="newGoodsPrice" type="text" class="form-control" placeholder="例如：3"/>
									</div>
									</td>
								</tr>
								<tr>
									<td><p>商品图片：</p></td>
									<td><input type="file" id="goodsImg"/></td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" ng-click="addNewGoods()" data-dismiss="modal">更新</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			
			<!-- 店家的订单详情页 -->
			<div class="order-page" ng-show="orderPageShow">
				<ul class="order-ul">
					<li class="order-li" ng-repeat = "order in items" ng-click = "checkOrderDetail($index, order.orderID)">
						<div class="order-info">
							<div>订单时间:{{order.orderTime}}</div>
							<div>收件人:{{order.username}}</div>
							<div>收件地点:{{order.userAddress}}</div>
						</div>
					</li>
				</ul>
				
				<nav>
					<ul class="pagination">
						<li>
						<a ng-click="Previous()">
						<span>上一页</span>
						</a>
						</li>
						<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
						</li>
						<li>
						<a ng-click="Next()">
						<span>下一页</span>
						</a>
						</li>
					</ul>
				</nav>
				
				
				<div class="modal" id="orderModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">订单详情</h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>商品名称</th><th>数量</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "goods in orderList">
										<td>{{goods.goodsName}}</td>
										<td>{{goods.goodsNumber}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" ng-click="postGoods()" data-dismiss="modal">发货</button>
						</div>
					</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
			</div>
			
			<!-- 预定订单详情页面 -->
			<div class="pre-order-page" ng-show="preOrderShowPage">
				<ul class="order-ul">
					<li class="order-li" ng-repeat = "order in items" ng-click = "checkPreOrderDetail($index, order.orderID)">
						<div style="float:right">
							<div>开始时间：{{order.beginTime}}</div>
							<div>座位数量：{{order.needSeats}}</div>
						</div>
						<div class="order-info">
							<div>订单时间:{{order.orderTime}}</div>
							<div>订单人:{{order.username}}</div>
						</div>
					</li>
				</ul>
				
				<nav>
					<ul class="pagination">
						<li>
						<a ng-click="Previous()">
						<span>上一页</span>
						</a>
						</li>
						<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
						</li>
						<li>
						<a ng-click="Next()">
						<span>下一页</span>
						</a>
						</li>
					</ul>
				</nav>
				
				
				<div class="modal" id="preOrderModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">订单详情</h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>商品名称</th><th>数量</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "goods in orderList">
										<td>{{goods.goodsName}}</td>
										<td>{{goods.goodsNumber}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" ng-click="postGoods()" data-dismiss="modal">发货</button>
						</div>
					</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
			
		</div>
	</div>
</div>
<div class="page-slice"></div>