<div class="page-wrap" ng-controller="storeController">
	<div class="page-top"></div>
	<div class="inner-wrap">
		<div class="rest-banner">
			<div class="title-wrap">
				<span class="glyphicon glyphicon-chevron-left" style="color: black; cursor:pointer;" ng-click="back()"></span>
				<span class="sort-list glyphicon glyphicon-cutlery"> 商家分类</span>
				<ul class="title-content">
					<li class="fl">
						<a href="javascript:void(0);"><span>全部</span></abbr></a>
					</li>
					<li class="fl">
						<a href="javascript:void(0);"><span>美食</span></abbr></a>
					</li>
					<li class="fl">
						<a href="javascript:void(0);"><span>正餐</span></abbr></a>
					</li>
					<li class="fl">
						<a href="javascript:void(0);"><span>超市</span></abbr></a>
					</li>
					<li class="fl">
						<a href="javascript:void(0);"><span>小吃</span></abbr></a>
					</li>
					<li class="fl">
						<a href="javascript:void(0);"><span>鲜果</span></abbr></a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="page-slice"></div>
		
		<div class="rest-list">
			<ul class="list">
				<li class="rest-li" ng-repeat="store in storeList" ng-click="checkDetail(store.id)">
					<div class="rest-wrap">
						<div class="rest-image">
							<img ng-src="{{store.storeImage}}" />
						</div>
						<div class="rest-info">
							<h5>{{store.storeName}}</h5>
							<span class="badge">{{store.storeHours}}</span>
							<div>起送：￥10   配送费：￥{{store.cost}}</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="page-slice"></div>
		
		<div class="recommend-list" ng-hide="recommendPageShow">
			
			<div class="recommend-head">
				<span ng-click="closeRecommend()" class="glyphicon glyphicon-remove" style="float: right; margin-right: 10px; cursor: pointer;" title="关闭推荐">
				</span>
				<span style="color:red;">猜你喜欢</span>
			</div>
			
			<ul class="food-ul">
				
				<li class="foods-li" ng-repeat="goods in goodsList" ng-click="checkDetail(goods.storeID)" style="cursor: pointer;">
					<div class="goods-info-rec">
					<div class="goods-inner-wrap">
						<div class="food-image">
							<img ng-src="{{goods.goodsImage}}" />
						</div>
						<div><h4>{{goods.goodsName}}</h4></div>
						<div class="food-number">已售{{goods.soldNumber}}份</div>
						<div class="food-pos">
							<div class="food-add">
								<span class="glyphicon" style="color: gold;">点击进入店铺</span>
							</div>
							<div class="food-cost">￥{{goods.goodsPrice}}元</div>
						</div>
					</div>
					</div>
				</li>
				
			</ul>
			
		</div>
	</div>
</div>