<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recommend">
	
	<!-- 查询出用户和商品关系 -->
	<select id="findItemUser" resultType="java.util.HashMap">
		select c.score as score,
			c.comment_time as time,
			a.user_id as userID,
			a.store_id as storeID,
			a.goods_id as goodsID
		from order_comment c right join
			(
				select t.order_id, t.user_id, t.store_id, d.goods_id
				from order_t t left join order_detail d
				on t.order_id = d.order_id
			) a
		on c.order_id = a.order_id
	</select>
	
	<!-- 根据商品的ID查询商品的详细信息 -->
	<select id="findGoodsDetail" parameterType="int" resultType="java.util.HashMap">
		select g.goods_id as goodsID,
			g.goods_name as goodsName,
			g.goods_price as goodsPrice,
			g.goods_image as goodsImage,
			g.sold_number as soldNumber,
			s.store_id as storeID,
			s.store_name as storeName
		from goods g right join store s
		on g.store_id = s.store_id
		where g.goods_id = #{id};
	</select>
	
	<!-- 查询出销量第？高的商品信息 -->
	<select id="findTopGoods" parameterType="int" resultType="java.util.HashMap">
		select g.goods_id as goodsID,
			g.goods_name as goodsName,
			g.goods_price as goodsPrice,
			g.goods_image as goodsImage,
			g.sold_number as soldNumber,
			s.store_id as storeID,
			s.store_name as storeName
		from goods g right join store s
		on g.store_id = s.store_id
		order by g.sold_number desc 
		limit #{j},1;
	</select>
</mapper>